/* Wizard CSS - By @julioghisloti */

/* Font ============================================================================================================= */
@font-face {
	font-family: 'Droid Sans';
	src: url('font/droidsans.eot');
	src: url('font/droidsans.eot?#iefix') format('embedded-opentype'),
	     url('font/droidsans.woff') format('woff'),
	     url('font/droidsans.ttf') format('truetype'),
	     url('font/droidsans.svg#droid_sansregular') format('svg');

	font-family: 'Droid Sans Bold';
	src: url('font/droidsans-bold.eot');
	src: url('font/droidsans-bold.eot?#iefix') format('embedded-opentype'),
	     url('font/droidsans-bold.woff') format('woff'),
	     url('font/droidsans-bold.ttf') format('truetype'),
	     url('font/droidsans-bold.svg#droid_sansregular') format('svg');

	font-weight: normal;	
	font-style: normal;
}
/* Basic Components ================================================================================================= */
body{font-family: 'Droid Sans'; margin: 0;}

.transition{
	-webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; 
	-ms-transition: all .5s ease; transition: all .5s ease;
}
.center{margin-left: auto; margin-right: auto;}
._img-right{float: right !important;}

/* Link -------------------------------------------- */
a, a:link, a:visited, a:active{color: #666; text-decoration: none;}
a:hover{color: #0099ff;}

/* Colors =========================================================================================================== */
._blue{background-color: #0099FF !important; color: #fff !important;}
._blue:hover{background-color: #36AFFF !important;}

._ok{background-color: #00CC66 !important; color: #fff !important;}
._ok:hover{background-color: #4FDC95 !important;}

._alert{background-color: #FFCC33 !important; color: #fff !important;}
._alert:hover{background-color: #FFD558 !important; color: #fff !important;}

._error{background-color: #FF4B42 !important; color: #fff !important;}
._error:hover{background-color: #FF6F68 !important; color: #fff !important;}

/* Text Components ================================================================================================== */
h1, h2, h3, h4{font-family: 'Droid Sans Bold'; margin: 4px 0 4px 0;}
h1{font-size: 4em;}
h2{font-size: 3em;}
h3{font-size: 2em;}
h4{font-size: 1.5em;}
p{margin: 5px 0 5px 0;}

/* Form Components ================================================================================================== */
/* Buttons */
.bt{
	background-color: #ccc; 
	border: 0; 
	color: #666; 
	display: inline-block; 
	font-size: .9em; 
	margin-top: 5px;
	padding: 8px; 
	position: relative; 
}
.bt:hover{background-color: #dfdfdf; cursor: pointer;}

.bt-small{font-size: .7em; height: 20px; padding: 2px;}
.bt-large{font-size: 1.2em; height: 50px; padding: 8px;}
.bt-block{font-size: 1em; height: 45px; width: 100%;}

/* Inputs -------------------------------------------- */
/* Placeholder */
::-webkit-input-placeholder {color: #fff;} :-moz-placeholder {color: #fff;} ::-moz-placeholder {color: #fff;} 
:-ms-input-placeholder {color: #fff;}

/* Required */
input:invalid { -moz-box-shadow: none; }
:required:focus{border: 2px solid #FF4B42 !important; -moz-box-shadow: none;}

/* Input Basic Style */
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="search"], 
input[type="date"], input[type="url"], select{
	background-color: #acacac; 
	border: 2px solid #fff; 
	color: #666; 
	font-family: 'Droid Sans';
	font-size: 1em;
	font-weight: normal;
	height: 35px; 
	outline: none;
	padding: 0 0 0 4px;
}

/* Input Hover Style */
input[type="text"]:hover, input[type="password"]:hover, input[type="number"]:hover, input[type="email"]:hover, 
input[type="search"]:hover, input[type="url"]:hover{background-color: #B4B4B4;}

/* Input Focus Style */
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="email"]:focus, 
input[type="search"]:focus, input[type="url"]:focus{border: 2px solid #0090f0 !important;}

/* Layout =========================================================================================================== */
/* Components ----------------------------------------------------------------------------- */
.body{display: block; padding: 15px; position: relative; width: 920px;}
.title{margin: 0 35px 0 15px; font-size: 1.7em; font-weight: bold;}
.title:hover{color: #acacac; cursor: pointer;}

/* Navbar top ----------------------------------------------------------------------------- */
.navbar_top-all{
	background-color: #ccc;
	height: 35px;
	margin-top: 15px;
	padding: 10px 0 10px 0;
	position: relative;
	width: 950px;
}
.navbar_top-menu{display: inline-block; margin: 5px; position: relative;}
.navbar_top-menu ul{list-style: none; margin: 0; padding: 0;}
.navbar_top-menu li{display: inline-block; margin-right: 20px; padding: 5px;}
.search-navbar_top{border: 2px solid #ccc !important; right: 10px; position: absolute;}

/* Navbar Left ----------------------------------------------------------------------------- */
.sidebar-all{margin: 7px; float: left; width: 170px;}
.sidebar-all ul{list-style: none; margin: 0; padding: 0;}
.sidebar-all li:first-child{background-color: #666; color: #fff; font-size: 1em;}
.sidebar-all li{background-color: #ccc; border-top: 1px solid #b9b9b9; color: #666; font-size: .9em; padding: 12px;}

/* Content --------------------------------------------------------------------------------- */
.content{float: left; margin: 7px; width: 722px;}

/* Cycle ----------------------------------------------------------------------------------- */
.cycle{margin-bottom: 7px; position: relative; width: 100%;}
.cycle > img{width: 100%; height: auto;}

/* Text Proncipal -------------------------------------------------------------------------- */
.text-principal{
	background-color: #f1f1f1;
	margin-bottom: 14px;
	padding: 5px;	
	width: 712px;
}
.text-principal img{
	display: block;
	float: left;
	margin: 10px;
}

/* Thubnail ------------------------------------------------------------------------------- */
.box-group{width: 100%}
.box{
	display: inline-block; 
	background-color: #f1f1f1; 
	margin-bottom: 14px; 
	margin-right: 7px; 
	overflow: hidden;
	padding: 5px; 
	position: relative;
	width: 30.934%;
}
.box img{height: 200px; width: auto;}
._last-box{margin-right: 0 !important; }